{% extends "base.html" %} {% block title %}Groups{% endblock %}

{% block content %}
    <h1 align="center">Product groups</h1>
    <form method="POST">
        <label for="group"></label>
        <div class="form-post-chosen-style">
            <input class="form-control" type="text" id="group" placeholder="Enter product group name.." name="group">
        </div>
        <div class="form-post-submit-style">
            <button type="submit" class="btn btn-primary">Add group</button>
         </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Group</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for group in user.groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger" onclick="deleteGroup({{ group.id }})">
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}