{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
    <h1 align="center">Notes</h1>
    <form method="POST">
        <label for="note"></label>
        <div class="form-post-chosen-style">
          <textarea name="note" id="note" class="form-control"></textarea>
        </div>
        <div class="form-post-submit-style">
          <button type="submit" class="btn btn-primary" >Add note</button>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Notes</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for note in user.notes %}
                <tr>
                    <td>{{ note.data }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger" onclick="deleteNote({{ note.id }})">
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
